zig-cache/
zig-out/
.DS_Store
.claude/
.config/
.temp/
web/app/
*.code-workspace
zig-pkg/
.velopack-msvc/
.msvc-extra
*.log
*.lock
tools/msvcup-bin/
tools/msvc-libc*.ini
.zig-cache/
.env.local
.zig-cache/
